<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--类名前缀-->
    <add key="dtPrefix" value=""/>
    <!--类名后缀-->
    <add key="dtSuffix" value="FO"/>

    <!--生成类库文件的命名空间-->
    <add key="nameSpace" value="Tmp.Model"/>
    <!--要连接的数据库名称-->
    <add key="DbDatabase" value="Northwind"/>
  </appSettings>
  <connectionStrings>
    <add name="IOTConnStr" connectionString="Data Source=(local);Initial Catalog=Northwind;User ID=sa;Password=mjcy1989;"/>
  </connectionStrings>
</configuration>